@use "./variables" as *;

#contact {
  padding: 4rem 0rem;
  .socialIcons {
    display: flex;
    justify-content: space-between;
    .icon {
      color: $primaryBlack;
      font-size: 3rem;
      text-align: center;
      transition: 0.3s;
      .rightSection {
        form {
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          border: none;
          padding: 35px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          button {
            border-style: none;
            a {
              color: $primaryBlack;
              text-decoration: none;
              display: block;
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }
}
