@use "./variables" as *;

footer {
  background-color: $primaryOrange;
  .wrapper {
    h3 {
      padding: 1rem 0rem;
      font-size: 0.65rem;
      text-align: center;
      a {
        text-decoration: none;
        color: $primaryBlack;
      }
    }
  }
}
