@use "./variables" as *;

header {
  min-height: 100vh;
  // NAVIGATION BAR SECTION
  .navBar {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: $primaryOrange;
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      font-size: 2rem;
      align-self: center;
      font-weight: 800;
      color: $primaryBlack;
      margin: 0.9rem 0;
      text-decoration: none;
    }
    ul {
      list-style: none;
      text-transform: uppercase;
      font-size: 0.9rem;
      padding-left: 0rem;
      li {
        padding: 0px 10px;
        display: inline-block;
      }
      .contact {
        border: 2px solid $primaryBlack;
        transition: 0.3s;
      }
      .contact:hover {
        background-color: $primaryBlack;
      }

      a:hover {
        color: white;
      }
      a {
        color: $primaryBlack;
        text-decoration: none;
        display: block;
        transition: 0.3s;
        padding: 5px 10px;
      }
    }
  }

  // HERO SECTION

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .heroImg {
      display: flex;
      justify-content: center;
      width: 60%;
    }
    .container {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      min-height: 89.5vh;

      .heroTitle {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right;
        width: 40%;
        h1 {
          color: $primaryBlack;
          font-weight: 400;
        }
        h2 {
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }
  }
  // Hamburger Menu

  .navLinks {
    display: flex;
    align-items: center;
  }

  nav {
    .menuOpen {
      font-size: 1.8rem;
      cursor: pointer;
      display: none;
    }

    .menuClose {
      font-size: 1.8rem;
      display: none;
      cursor: pointer;
    }
  }
}
