@media (max-width: 1200px) {
  #about {
    padding: 3rem 4rem;
    .wrapper {
      .container {
        flex-direction: column;
        .leftSection {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          width: 60%;
          img {
            padding-bottom: 2.5rem;
          }
        }
        .rightSection {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  header {
    .hero {
      .wrapper {
        .container {
          flex-direction: column-reverse;
          h1 {
            padding-top: 2.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          span {
            padding-top: 0.5rem;
          }
        }
      }
    }
  }
  #about {
    .wrapper {
      .container {
        .leftSection {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          width: 60%;
        }
      }
    }
  }

  @media (max-width: 940px) {
    #portfolio {
      .projContainer {
        flex-direction: column;
        .projDetails {
          width: 100%;
        }
        img {
          width: 100%;
          padding-bottom: 1rem;
        }
      }
    }
    #contact {
      .socialIcons {
        flex-direction: column;
        .leftSection {
          flex-direction: row;
        }
        .social {
          width: 20%;
          margin: 2rem;
          i {
            padding: 0.5rem;
          }
        }
        .rightSection {
          padding-top: 1rem;
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 810px) {
  }
}
