@use "./variables" as *;

@media (max-width: 1200px) {
  header {
    .hero {
      .wrapper {
        .container {
          h2 {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  #about {
    padding: 3rem 4rem;
    .wrapper {
      .container {
        flex-direction: column;
        .leftSection {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          width: 60%;
          h2 {
            text-align: center;
          }
          img {
            padding-bottom: 2.5rem;
          }
        }
        .rightSection {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  header {
    .hero {
      .heroImg {
        width: 90%;
      }
      .wrapper {
        .container {
          justify-content: center;
          align-items: center;
          flex-direction: column-reverse;
          .heroTitle {
            width: 100%;
            h1 {
              padding-top: 2.5rem;
              text-align: center;
            }
            h2 {
              padding-top: 0.5rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
  #about {
    .wrapper {
      .container {
        .leftSection {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          width: 60%;
        }
      }
    }
  }

  @media (max-width: 940px) {
    #portfolio {
      .projContainer {
        flex-direction: column;
        .projDetails {
          margin: 0rem;
          width: 100%;
        }
        img {
          width: 100%;
          padding-bottom: 1rem;
        }
      }
    }
    #contact {
      .socialIcons {
        flex-direction: column;
        .leftSection {
          flex-direction: row;
        }
        .social {
          width: 20%;
          margin: 2rem;
          i {
            padding: 0.5rem;
          }
        }
        .rightSection {
          padding-top: 1rem;
          width: 100%;
        }
      }
    }
  }

  // HAMBURGER MENU
  @media (max-width: 810px) {
    header {
      nav {
        li {
          margin: 1rem 0;
        }
        .menuOpen {
          display: block;
        }
        .menuMain {
          font-size: 1.5rem;
          height: 100%;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 100;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $primaryOrange;
          transition: top 0.6s ease-in;
          margin: 0;
          display: none;
          .menuClose {
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
          }
        }
      }
    }
    #about {
      padding: 3rem 0rem;
      .wrapper {
        .container {
          .leftSection {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 60%;
          }
        }
      }
    }
    #contact {
      .socialIcons {
        .social {
          width: 100%;
          padding: 1rem 0;
          margin: 0;
        }
        .leftSection {
          text-align: center;
          flex-direction: column;
        }
      }
    }
  }
  @media (max-width: 600px) {
    #about {
      .wrapper {
        .container {
          .leftSection {
            h2 {
              font-size: 1.9rem;
            }
          }
        }
      }
    }
    #skills {
      .wrapper {
        ul {
          li {
            width: 20%;
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    header {
      .hero {
        .wrapper {
          .container {
            h2 {
              font-size: 1.45rem;
            }
          }
        }
      }
    }
  }
  @media (max-width: 368px) {
    #about {
      .wrapper {
        .container {
          .leftSection {
            h2 {
              font-size: 1.7rem;
            }
          }
        }
      }
    }
  }
}
